
body {
  background-color: rgb(218, 222, 226); 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(10, 67, 143);
  text-align: center;
  justify-items: center;  
}
h1{
    text-align: center;
     font-weight: 700;
  font-size: 38px;
}

#metricValuesFlex{
    display: flex;
    gap: 80px;
}

#fileTransDiv,#scientDiv, #tempDiv, #metricDiv {
  background-color: white;
  border-radius: 20px;
  width: 750px;
  padding-top: 10px;
  padding-left: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: rgb(10, 67, 143);
}
#scientDiv, #tempDiv, #metricDiv {
  display: none;
}


#fileTransDiv h2 ,#scientDiv h2, #tempDiv h2, #metricDiv h2{
  color: #993399;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 28px;
}


#fileTransDiv label, #scientDiv label, #tempDiv label, #metricDiv label{
  font-weight: 600;
  font-size: 100%;
  display: block;
  color: rgb(10, 67, 143);
}


#fileTransDiv input,
#fileTransDiv select {
  width: 95%;
  padding: 2%;
  margin-top: 1%;
  border: 1px solid rgb(222, 225, 230);
  border-radius: 10px;
  font-size:90%;
  color: rgb(10, 67, 143);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#tempDiv input,
#tempDiv select {
   width: 95%;
  padding: 2%;
  margin-top: 1%;
  border: 1px solid rgb(222, 225, 230);
  border-radius: 10px;
  font-size:90%;
  color: rgb(10, 67, 143);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#scientDiv input,
#scientDiv select {
 width: 95%;
  padding: 2%;
  margin-top: 1%;
  border: 1px solid rgb(222, 225, 230);
  border-radius: 10px;
  font-size: 16px;
  color: rgb(10, 67, 143);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#metricDiv input,
#metricDiv select {
  width: 95%;
  padding: 15px;
  margin-top: 8px;
  border: 1px solid rgb(222, 225, 230);
  border-radius: 10px;
  font-size: 16px;
  color: rgb(10, 67, 143);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}




#fileConvertBtn,#metricConvertBtn,#scientificConvertBtn, #tempConvertBtn {
  margin-top: 30px;
  width: 50%;
  padding: 15px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 20px;
  background-color: #993399;
  border: 1px solid rgb(185, 27, 233);
  color: white;
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#fileConvertBtn:hover,#metricConvertBtn:hover,#scientificConvertBtn:hover, #tempConvertBtn:hover {
  background-color: #b348b3;
  transform: translateY(-2px);
}
#buttonDiv{
padding-top: 30px;
}
#FileTransferBtn,
#TempetatureBtn,
#ScientificBtn,
#MetricBtn {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 12px;
  border: 2px solid #993399;
  background-color: #993399;
  color: white;
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
#FileTransferBtn:hover,#MetricBtn:hover,#ScientificBtn:hover, #TempetatureBtn:hover {
  background-color: #a047a0;
  transform: translateY(-2px);
}